.card-mixer {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 8px;
  margin-bottom: 10px;
  // border: 2px solid var(--color-border-1);
  border-radius: 4px;
  color: var(--color-text-1);
  background-color: var(--color-bg-1);
  box-shadow: 2px 2px 3px 0px rgba(0, 0, 0, 0.15);

  &__title-wrap {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    font-size: 18px;
    font-weight: 500;
  }
  &__dimension {
    display: flex;
    align-items: center;
    gap: 8px;
  }
  &__title {
  }
  &__wrap {
    display: flex;
    gap: 8px;
  }
  &__sub-title {
    width: 100%;
    font-size: 16px;
    font-weight: 500;
  }
  &__wrap-label {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 10px;
    border-radius: 4px;
    padding: 8px;
    border: 2px solid var(--color-border-1);
    width: 300px;
    background-color: var(--color-bg-white-1);
  }
  &__label {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 5px;
    border-radius: 4px;
    border: 1px solid var(--color-border-1);
    width: 120px;
    padding: 0px 12px;
    height: 35px;
    font-weight: 500;
    background-color: var(--color-btn-white-1);
    @include transition;
    cursor: text;
    input[type=number]::-webkit-inner-spin-button,
    input[type=number]::-webkit-outer-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }

    input[type=number] {
      -moz-appearance: textfield;
    }

    path {
      fill: var(--color-border-1);
    }
    &_big {
      width: 100%;
    }
    &:focus-within {
      border: 2px solid var(--color-border-3);

      .card-ems__label-input,
      .card-ems__label-title  {
        color: var(--color-border-3);
      }
    }
    &_time {
      margin: 10px auto auto auto;
      width: 172px;
    }
  }
  &__label-title {
      position: absolute;
      inset: -10px auto auto 6px;
      z-index: 2;
      padding: 0 4px;
      font-size: 12px;
      font-weight: 500;
      color: var(--color-border-1);
      background-color: var(--color-text-white-1);
      @include transition;
  }
  &__label-input {
    width: 100%;
    text-align: left;
    font-size: 16px;
    color: var(--color-text-1);
    cursor: text;
  }
  &__footer {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    gap: 5px;
    margin-top: auto;
  }
  &__footer-text {
    max-width: 400px;
  }
  &__date {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    font-size: 18px;
    font-weight: 500;
  }

  &__item-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    border-radius: 4px;
    width: 30px;
    height: 30px;
    overflow: hidden;
    box-shadow: 1px 2px 4px 0px rgba(0, 0, 0, 0.15);
    background-color: var(--color-btn-1);
    @include transition;

    &:hover {
      background-color: var(--color-active);
      box-shadow: 0 0 0 3px var(--color-btn-1);
    }

    &:active {
      background-color: var(--color-active);
      box-shadow: 1px 2px 4px 0px rgba(0, 0, 0, 0.15);
    }

    &_mla {
      margin-left: auto;
    }

    &_ok {
      background-color: var(--color-ready);
    }

    &_copy {
      position: absolute;
      z-index: 4px;
      inset: 4px 4px auto auto;
      width: 25px;
      height: 25px;
      min-width: 25px;
      min-height: 25px;
    }
  }
  &__submit-svg {
    width: 17px;
    height: 13px;
  }
  &__icon-copy {
    width: 20px;
    height: 20px;
  }
}
