:root {
  --color-text-1: #323232;
  --color-text-2: #167FFB;
  --color-text-3: #66747e;
  --color-text-4: #0D932B;

  --color-text-white-1: #fff;
  --color-btn-1: #167FFB;
  --color-btn-2: #3E3E3E;
  --color-btn-3: #167FFB;
  --color-btn-4: #d0e9ff;
  --color-btn-deactive-1: #F7F7F7;
  --color-border-1: #d6dadd;
  --color-border-1-dark: #66747e;
  --color-border-2: #fb9c36;
  --color-border-3: #167FFB;
  --color-border-4: #008100;
  --color-border-5: #fb9c36;
  --color-border-6: #167FFB;
  --color-border-7: #008100;
  --color-bg-1: #F7F7F7;
  --color-bg-2: #d0e9ff;
  --color-bg-3: #001729;
  --color-bg-4: #E5E8EA;
  --color-bg-white-1: #fff;
  --color-active: #167FFB;
  --color-warning: #ffad0f;
  --color-alert: #FFD0D0;
  --color-no-error: #47dc68;
  --color-update: #47dc6757;
  --color-update-1: #ecffee;
  --color-no-error-light: #C2EDC6;
  --color-ready: #2aba4a;
  --color-error: #fe373c;
  --color-scroll: #66747e;
  --height-header: 56px;
}

// // v2

// :root {
//   --color-text-1: #323232;
//   --color-text-2: #8A7FEE;
//   --color-text-white-1: #fff;
//   --color-btn-1: #8A7FEE;
//   --color-btn-2: #3E3E3E;
//   --color-btn-deactive-1: #F7F7F7;
//   --color-border-1: #C7D0D9;
//   --color-bg-1: #F7F7F7;
//   --color-bg-2: #dec9ff;
//   --color-bg-white-1: #fff;
//   --color-active: #A88DEA;
//   --color-warning: #f8ba0e;
//   --color-alert: #db4537c9;
//   --color-no-error: #84FF82;
//   --color-error: #F93F3F;
//   --height-header: 90px;
// }