.content {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  padding: 0 15px 15px;
  height: 100%;
  width: 100%;
  &_pre-loaded {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &__wrap {
    position: relative;
    border-radius: 4px;
    width: 100%;
    height: auto;
    min-height: 100%;
    background-color: var(--color-bg-white-1);
    box-shadow: 1px 4px 4px 2px rgba(0, 0, 0, 0.15);
    overflow: auto;
    &_hidden {
      overflow: hidden;
    }
  }
}