.card-wrap-eq {
  display: flex;
  flex-direction: column;
  border-radius: 4px;
  overflow: auto;
  width: 100%;
  // background-color: var(--color-bg-1);
  &__row {
    position: relative;
    display: grid;
    grid-template-columns: 65% 34%;
    // align-items: center;
    gap: 10px;
    padding: 40px 10px;
    // margin-bottom: 10px;
    border-radius: 4px;
    // padding: 8px 10px 4px;
    color: var(--color-text-1);
    // background-color: #0B3461;
    &:nth-child(2n) {
      background-color: #E8F5FF;
    }
  }
  &__title {
    position: absolute;
    inset: 4px auto auto 10px;
    padding: 4px;
    border: 2px solid var(--color-border-1);
    border-radius: 4px;
    font-size: 18px;
    background-color: var(--color-bg-white-1);

  }
  &__table {
    position: relative;
    border-radius: 4px;
    overflow: hidden;
    background-color: var(--color-bg-white-1);
    &::after {
      content: '';
      position: absolute;
      inset: 0;
      border: 2px solid var(--color-border-1);
      border-radius: 4px;
      z-index: 1001;
      pointer-events: none;
    }
  }
}
