.dropdown {
  position: relative;
  padding-left: 10px;
  &__btn {
    display: flex;
    align-items: center;
    gap: 8px;
    padding-left: 10px;
    border-left: 4px solid var(--color-border-1);
    border-bottom: 1px solid var(--color-border-1);
    min-height: 35px;
    width: 100%;
    text-align: left;
    &_disabled {
      pointer-events: none;
    }
    &_color-border-2 {
      border-left: 4px solid var(--color-border-2);
    }
    &_color-border-3 {
      border-left: 4px solid var(--color-border-3);
    }
    &_color-border-4 {
      border-left: 4px solid var(--color-border-4);
    }
    &_color-border-5 {
      border-left: 4px solid var(--color-border-5);
    }
    &_color-border-6 {
      border-left: 4px solid var(--color-border-6);
    }
    &_color-border-7 {
      border-left: 4px solid var(--color-border-7);
    }
  }
  &__icon {
    width: 12px;
    height: 7px;
    @include transition;
    &_open {
      transform: matrix(1, 0, 0, -1, 0, 0);
    }
  }
  &__btn-text {
    &_bold {
      font-weight: 500;
    }
  }
  &__text {
    display: flex;
    align-items: center;
    margin-left: auto;
    padding: 3px;
    font-size: 13px;
    height: 100%;
  }
}