.process-item {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 5px 12px;
  border-radius: 4px;
  border: 2px solid var(--color-border-1);
  width: 100%;
  color: var(--color-text-1);

  &__item {
    margin-bottom: 15px;
  }
  &__label-title {
    position: absolute;
    inset: -10px auto auto 6px;
    z-index: 2;
    padding: 0 4px;
    font-size: 12px;
    font-weight: 500;
    background-color: var(--color-text-white-1);
    color: var(--color-border-1-dark);
    @include transition;
  }
  &__sub-title {
    margin-bottom: 10px;
    font-size: 18px;
    font-weight: 500;
  }

  &__date-wrap {
    display: flex;
    gap: 8px;
  }
}